/* 
    Document   : login
    Created on : Oct 9, 2013, 2:34:28 PM
    Author     : Enyert Vinas
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background-image: url('img/FondoGeneralDef.png');
    background-color: #cccccc;
}

root { 
    display: block;
}

